[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-swagger = "*"
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
